# Moodle needs a periodic call to do maintenance work like sending out emails, cleaning up the database, updating feeds, etc.
# To run the cron every 10 minutes, do the following
*/10 * * * * /usr/bin/php /var/www/html/admin/cli/cron.php  >/dev/null
